@use "../abstracts/colors" as *;
@use "../abstracts/functions" as *;

// default colors
$tooltip-bg-color: hsl(0, 0%, 10%) !default;
$tooltip-text-color: hsl(0, 0%, 80%) !default;
[data-tooltip] {
  --tooltip-bg-color: #{$tooltip-bg-color};
  --tooltip-text-color: #{$tooltip-text-color};
  --radius: #{rem(3)};
  --arrow-size: #{rem(12)};
  --arrow-inset-x: #{rem(0)};
  --arrow-pos: #{rem(10)};
  --grow: 0;
  --font-size: #{rem(15)};
  --padding: #{rem(5)};
  --offset: #{rem(5)};
  position: relative;
  --minus-pos-y: 100%;
  --minus-pos-x: 50%;
  --left: 50%;
  --right: auto;
  --top: 0;
  --bottom: auto;
  &::before,
  &::after {
    pointer-events: none;
    width: max-content;
    height: auto;
    background-color: var(--tooltip-bg-color);
    position: absolute;
    top: var(--top);
    right: var(--right);
    left: calc(var(--left) - (var(--arrow-inset-x) * -1));
    transform: translate(
        calc(var(--minus-pos-x) * -1),
        calc(var(--minus-pos-y) * -1)
      )
      scale(var(--grow));
    bottom: var(--bottom);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &::before {
    content: "";
    height: var(--arrow-size);
    width: calc(var(--arrow-size) * 2);
    background-color: var(--tooltip-bg-color);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    transform-origin: top center;
    --top: calc((var(--offset) + var(--arrow-pos) + #{rem(1)}) * -1);
  }
  &::after {
    content: attr(data-tooltip);
    width: max-content;
    color: var(--tooltip-text-color);
    border-radius: var(--radius);
    font-size: var(--font-size);
    font-weight: normal;
    line-height: 1;
    padding: var(--padding);
    --top: calc((var(--arrow-size) + var(--offset)) * -1);
    transition: transform 200ms ease;
    transform-origin: bottom center;
  }
  &.left {
    &::before,
    &::after {
      --left: 5%;
    }
    &::before {
      --arrow-inset-x: #{rem(20)};
    }
    &::after {
      --minus-pos-x: 0%;
      transform-origin: bottom left;
    }
  }
  &.right {
    &::before,
    &::after {
      --left: auto;
      --right: 5%;
    }
    &::before {
      --arrow-inset-x: #{rem(20)};
    }
    &::after {
      --minus-pos-x: 0%;
      transform-origin: bottom right;
    }
  }
  &.bottom {
    &::before,
    &::after {
      --top: auto;
      --bottom: 0;
      --minus-pos-y: -100%;
    }
    &::before {
      clip-path: polygon(0 100%, 50% 0, 100% 100%);
      transform-origin: bottom center;
      --bottom: calc((var(--offset) + var(--arrow-pos) + #{rem(1)}) * -1);
    }
    &::after {
      --bottom: calc((var(--arrow-size) + var(--offset)) * -1);
      transform-origin: top center;
    }
    &.left {
      &::after {
        transform-origin: top left;
      }
    }
    &.right {
      &::after {
        transform-origin: top right;
      }
    }
  }

  &:hover {
    --grow: 1;
    --arrow-pos: #{rem(0)};
    &::before {
      transition: transform 10ms ease;
    }
  }
}
